<form [formGroup]="postingForm" (ngSubmit)="onSubmit()">
    <div class="row mb-2">
        <div class="col-6">
            <div class="form-group">
                <label>Designation</label>
                <select class="form-control" formControlName="Designation">
                    <option value="0">--Select--</option>
                    <option value="1">Senior</option>
                    <option value="2">Junior</option>
                    <option value="3">Other</option>
                </select>

            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <div class="form-group">
                <label>DOJ</label>
                <input type="date" class="form-control" formControlName="DOJ">
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <div class="form-group">
                <label>Posting (City)</label>
                <input type="text" class="form-control" formControlName="Posting">
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-6">
            <div class="form-group">
                <label>Posting From</label>
                <input type="date" class="form-control" formControlName="Posting_From">
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-6">
            <div class="form-group">
                <label>Posting Upto</label>
                <input type="date" class="form-control" formControlName="Posting_Upto">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </div>
</form>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Posting Update Information</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                {{this.response.result}}
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>