<div class="alert alert-secondary">All Officers List</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Mother Name</th>
            <th>Nick Name</th>
            <th>Designation</th>
            <th>DOB</th>
            <th>DOJ</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Action</th>
            <th>Posting</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let officer of officerList">
            <td>{{officer.id}}</td>
            <td>{{officer.name}}</td>
            <td>{{officer.fatherName}}</td>
            <td>{{officer.motherName}}</td>
            <td>{{officer.nickName}}</td>
            <td>{{officer.designation}}</td>
            <td>{{officer.dob | date:'dd-MM-yyyy'}}</td>
            <td>{{officer.doj| date:'dd-MM-yyyy'}}</td>
            <td>{{officer.gender}}</td>
            <td>{{officer.address}}</td>
            <td><a class="btn btn-secondary" (click)="edit(officer.id)"><i class="fa fa-edit"></i></a></td>
            <td>

                <a *ngIf="officer.postingId > 0; else elseBlock" class="btn btn-secondary"
                    (click)="view_officer_posting(officer.id)"><i class="fa fa-file"></i></a>
                <ng-template #elseBlock>
                    <a class="btn btn-secondary" (click)="posting(officer.id)"><i class="fa fa-plus"></i></a>
                </ng-template>

            </td>
        </tr>
    </tbody>
</table>