<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row mb-2">
        <div class="offset-3 col-6">
            <div class="alert alert-dark">Login in Application</div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="offset-3 col-6">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" formControlName="UserName">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="Password">
            </div>
        </div>
        <div class="row mt-3">
            <div class="offset-3 col-6 text-center">
                <input type="submit" class="btn btn-secondary" value="Login">
            </div>
        </div>
    </div>
</form>