<div class="row mt-5">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Officer Profiles</h5>
                <h6 class="card-subtitle mb-2 text-muted">All Officers Registered in RAW</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="/add-officer" class="card-link">Add Officer</a>
                <a routerLink="/officer-list" class="card-link">All Officers</a>
            </div>
        </div>
    </div> <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Officer Profiles</h5>
                <h6 class="card-subtitle mb-2 text-muted">All Officers Registered in RAW</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="/add-officer" class="card-link">Add Officer</a>
                <a routerLink="/officer-list" class="card-link">All Officers</a>
            </div>
        </div>
    </div> <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Officer Profiles</h5>
                <h6 class="card-subtitle mb-2 text-muted">All Officers Registered in RAW</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="/add-officer" class="card-link">Add Officer</a>
                <a routerLink="/officer-list" class="card-link">All Officers</a>
            </div>
        </div>
    </div>
</div><div class="row mt-5">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Officer Profiles</h5>
                <h6 class="card-subtitle mb-2 text-muted">All Officers Registered in RAW</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="/add-officer" class="card-link">Add Officer</a>
                <a routerLink="/officer-list" class="card-link">All Officers</a>
            </div>
        </div>
    </div> <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Officer Profiles</h5>
                <h6 class="card-subtitle mb-2 text-muted">All Officers Registered in RAW</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="/add-officer" class="card-link">Add Officer</a>
                <a routerLink="/officer-list" class="card-link">All Officers</a>
            </div>
        </div>
    </div> <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Officer Profiles</h5>
                <h6 class="card-subtitle mb-2 text-muted">All Officers Registered in RAW</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="/add-officer" class="card-link">Add Officer</a>
                <a routerLink="/officer-list" class="card-link">All Officers</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>